{% extends 'layout.html' %}

{% block content %}
    <form action="/todos/" method="post">
        <input type="text" name="descripcion" id="descripcion">
        <button type="submit">Enviar</button>
    </form>
{%endblock%}