{% extends 'layout.html' %}

{%block content%}
    <form action="/todos/{{todo['ID']}}/update" method="post">
        <input type="text" name="descripcion" id="descripcion" value="{{todo['DESCRIPCION']}}">
        <button type="submit">Enviar</button>
    </form>
{%endblock%}