{% extends 'layout.html' %}

{% block content %}
    <p><a href="/todos/create">Agregar tarea</a></p>
    {% for todo in todos %}
        <form action="/todos/{{todo['ID']}}/delete/" method="post">
            {{ todo['ID']}} -> {{ todo['DESCRIPCION'] }} 
            <a href="/todos/{{todo['ID']}}">Mostrar</a>
            <a href="/todos/{{todo['ID']}}/edit/">Editar</a>
            <button type="submit">Borrar</button>
        </form>
        <br>
    {% endfor %}
{% endblock %}